.main-wrap-box {
  position: relative;
  height: 0;
}

.leftmenu-box {
  position: absolute;
  left: 100px;
  top: 50px;
  width: 210px;
}

.right-recommend-box {
  position: absolute;
  right: 125px;
  top: 50px;
  z-index: -99;
}
