.main-headline-box {
  margin-left: 350px;
  width: 600px;
  height: 100px;
  margin-top: 50px;
}

.main-headline {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.language {
  display: inline-block;
  margin-left: 500px;
  font-size: 16px;
}

.main-description {
  font-size: 12px;
  color: rgba(75, 75, 75, 0.6);
}

.main-interests-box {
  margin-left: 350px;
  width: 600px;
  height: 300px;
  position: relative;
  z-index: 99;
}

.interest-tag {
  margin-top: 50px;
  display: inline-block;
  color: rgb(0, 160, 130);
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.interest-tag:hover {
  color: rgb(0, 120, 100);
}

.interest-title-box {
  margin-top: 20px;
}

.interest-title {
  font-size: 20px;
  color: rgb(20, 20, 20);
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  text-align: left;
}

.interest-content {
  width: 450px;
  color: rgba(75, 75, 75, 0.9);
  margin-top: 40px;
  display: inline-block;
  font-size: 14px;
}

.interest-photo {
  margin-left: 50px;
  display: inline-block;
  width: 96px;
  height: 96px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

.interest-address {
  margin-top: 20px;
  color: rgba(75, 75, 75, 0.6);
  font-size: 14px;
}

.interest-button-box {
  display: inline-flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.save-button-box {
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: url(/src/image/save.svg) no-repeat;
  background-position: 50%;
  width: 32px;
  height: 32px;
}

.save-button-box:hover {
  background-color: rgba(75, 75, 75, 0.1);
}

.share-button-box {
  border: none;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: url(/src/image/share-header.svg) no-repeat;
  background-position: 50%;
  width: 32px;
  height: 32px;
  outline: none;
}

.share-button-box:hover {
  background-color: rgba(75, 75, 75, 0.1);
}
